<!--index.vtl-->
<h1>Task List!</h1>
#if ($tasks)
  <ul>
    #foreach ($task in $tasks)
      <li>$task.getDescription()</li>
    #end
  </ul>
#else
  <p> No tasks!</p>
#end
<p>Add a new Task:</p>
<form action="/tasks" method="post">
  <label for="description">Task Description</label>
  <input type="text" name="description" id="description">
  <button type="submit" name="submit">Submit</button>
</form>

<!--index.vtl-->
